# dependencies
node_modules/
.pnp
.pnp.*
.yarn/

# testing
coverage/

# next.js
.next/
frontend/.next/
out/
build/

# misc
*.pem
.DS_Store
*.tsbuildinfo

# env files
.env*
frontend/.env*

# debug logs
*.log*
